name: Build and Deploy to Docker Hub

on:
  push:
    branches:
      - main  # Adjusted to trigger on pushes to main - so we dont push image to the docker hub

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Check Out Repo
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./docker/DockerFile.web
        push: true
        tags: iambhanurathore/ci_cd_pipeline:latest

    - name: Verify Pushed Image
      run: docker pull iambhanurathore/ci_cd_pipeline:latest # Should make this private, so not anybody can pull

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          sudo docker pull iambhanurathore/ci_cd_pipeline:latest
          sudo docker stop ci_cd_pipeline || true
          sudo docker rm ci_cd_pipeline || true
          sudo docker run -d --name ci_cd_pipeline -p 3005:3000 iambhanurathore/ci_cd_pipeline:latest
